@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

header {
    display: grid;
    height: 3vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 5px;
    border-color: 2px solid crimson;
    margin-top: 1vw;
}

.btnColor {
    background-image: url("../../public/images/paleta-color.png");
    width: 10vh; 
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 4em; 
    margin-top: .8em;
    cursor: pointer; 
    background-repeat:no-repeat;
    height:10vh;
    background-size: 50px 50px;
    background-position:center;
    background-color: transparent;
    border-color: transparent;
}