
#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 10rem repeat(3, 1fr) 10rem;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 5px;
}
    
h1 {
    grid-area: 1 / 2 / 3 / 5;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-size: 3rem;
    align-items: center;
    text-align: center;
}

/* #registerDiv {
    grid-area: 4 / 2 / 7 / 5; 
    display: grid;
    justify-content: center;
    align-items: center;
} */

h2 {
    grid-area: 4 / 2 / 5 / 5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.registerInput {
    grid-area: 5 / 2 / 6 / 5;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 12em;
    height: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:large;
}

.registerBtn {
    grid-area: 6 / 3 / 7 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}