body {
    background-color: aquamarine;
   
 
}
/* .parent {
    display: grid;
    grid-template-columns: 5rem repeat(4, 1fr) 5rem;
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 5px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 7; }
    .div2 { grid-area: 1 / 1 / 2 / 2; }
    .div3 { grid-area: 2 / 3 / 4 / 5; }
    .div4 { grid-area: 5 / 3 / 6 / 5; }
    .div5 { grid-area: 6 / 3 / 7 / 5; }
    .div6 { grid-area: 10 / 1 / 11 / 7; }
    .div7 { grid-area: 10 / 2 / 11 / 3; }
    .div8 { grid-area: 10 / 3 / 11 / 6; } */


#app {
    height: 100vh;
    display: grid;
    grid-template-columns: 10rem repeat(3, 1fr) 10rem;
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 5px;
}
    
h1 {
    grid-area: 1 / 2 / 3 / 5;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-size: 3rem;
}

#registerDiv {
    grid-area: 4 / 2 / 7 / 5; 
    display: grid;
    justify-content: center;
    align-items: center;
}

h2 {
    grid-area: 4 / 2 / 5 / 5;
    display: flex;
    justify-content: center;
    align-items: center;

}

#registerInput {
    grid-area: 5 / 2 / 6 / 5;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

#registerbtn {
    grid-area: 6 / 3 / 7 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}