@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');


.h2Home {
    margin-top: 1rem;
    font-family: Cinzel, "calibri";
    margin-right: 2vh; 

}

.sectionHome {
    font-family: 'Pokemon Solid'; 
    margin-top: 7em;
    row-gap: 2em;
    
     
} 

.btnPoke {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.052), rgba(106, 103, 103, 0.194)),url("../../public/images/pokemon.jfif");
    background-repeat: no-repeat;
    width: 20em;
    height: 20em;
    object-fit:fill;
    background-size: contain;
    padding: 5vw; 
    margin:2em;
    transition: all 0.2s ease-in-out;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:600;
    cursor: pointer;
    border: .1em solid white ;
}

.btnQuiz {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.052), rgba(106, 103, 103, 0.194)),url("../../public/images/quiz.jpg");
    background-repeat: no-repeat;
    width: 20em;
    height: 20em;
    object-fit:fill;
    background-size: contain;
    transition: all 0.2s ease-in-out;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:600;
    padding: 5vw; 
    margin: 2em; 
    cursor: pointer;
    border: .1em solid white ;
    
}
.btnPoke:hover {
    border: .3em solid white ;
} 

.btnQuiz:hover {
    border: .3em solid white ; 
}